<p style="color: green"><%= notice %></p>

<div class="show-item">
<% if current_user.id == @user.id %>
<%= button_to "登録情報の変更", edit_user_registration_path, method: :get %>
<% end %>

  <h2>メールアドレス</h2>
    <p><%= @user.email %></p>

  <h2>住所</h2>
    <p><%= @user.address %></p>

  <h2>郵便番号</h2>
    <p><%= @user.postal_code %></p>

  <h2>自己紹介</h2>
    <p><%= @user.self_introduce %></p>
</div>

<nav class="page-nav">
<%= link_to t('views.common.back', name: i18n_pluralize(User.model_name.human.downcase)), users_path %>
<%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>
</nav>
