<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<div class="show-item">
  <%= render @book %>
</div>

<div id="comments" class="comment-items">
  <% @comments.each do |comment| %>
    <div class="comment-item">
      <header class="comment-header">
        <%= comment.user.name %>
        <%= l comment.created_at %>
      </header>
      <div class="comment-content">
        <%= comment.content %>
      </div>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [@book,comment] , method: :delete %>
    </div>
  <% end %>
</div>

<%= render "comments/form", post: @book %>

<nav class="page-nav">
  <%= link_to t('views.common.edit', name: Book.model_name.human.downcase), edit_book_path(@book) %> |
  <%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>

  <%= button_to t('views.common.destroy', name: Book.model_name.human.downcase), @book, method: :delete %>
</nav>
