<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to  I18n.t("edit_book"), edit_book_path(@book) %> |
  <%= link_to I18n.t("back_books") , books_path %>

  <%= button_to I18n.t("destroy_book"), @book, method: :delete %>
</div>
