<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
  <header>
    <ul class="nav-ul">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to t('views.common.title_index', name: Book.model_name.human.downcase), books_path %>
      </li>
      <li class="nav-item">
        <%= link_to t('views.common.title_index', name: User.model_name.human.downcase), users_path %>
      </li>
      <li class="nav-item">
        <%= link_to t('views.common.edit', name: User.model_name.human.downcase), edit_user_registration_path %>
      </li>
      <li class="nav-item">
        <%= "#{current_user.email}" %>
      </li>
      <li class="nav-item">
        <%= button_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path %>
      </li>
      <li class="nav-item">
        <%= link_to t('devise.shared.links.sign_in'), new_user_session_path %>
      </li>
      <% end %>
    </ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </header>
    <%= yield %>
  </body>
</html>
